

          <mdb-card>
              <mdb-card-header class="info-color white-text text-center py-0">
                  <h4 class="text-dark text-center mt-3">FREQUENLTY ASKED QUESTIONS</h4><br><br>
              </mdb-card-header>

              <mdb-card-body class="px-5">
                  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                      <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingOne">
                              <h4 class="panel-title">
                                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      <i class="fa fa-plus more-less "></i>
                                      WHAT IS IBIN?
                                  </a>
                              </h4>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                              <div class="panel-body text-dark ">
                                    <p class="text-justify">International Blockshare Identification Number (IBIN) is a 13 digit code that is comprised of numbers and letters that uniquely identifies equity on the blockchain. It is the first of its kind on the blockchain and it is similar to ISIN (International Securities Identification Number) that is used in the traditional markets. </p>
                              </div>
                          </div>
                      </div>

                      <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingTwo">
                              <h4 class="panel-title">
                                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      <i class="fa fa-plus more-less"></i>
                                      WHAT IS BLOCKCHAIN?
                                  </a>
                              </h4>
                          </div>
                          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                              <div class="panel-body text-dark">
                                  <p class="text-justify">Blockchain is a digital, decentralized and distributed public ledger consisting of transactions. Its origins can be traced to Bitcoin, where it was initially used for accounting purposes. Completed transactions are grouped together in blocks, the grouped blocks create a chain, hence the name blockchain. Individual blocks are secured by cryptography and the blocks are immutable by design. Blockchain has evolved from its use for accounting purposes and it now has different usages. </p>
                              </div>
                          </div>
                      </div>

                      <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingThree">
                              <h4 class="panel-title">
                                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                      <i class="fa fa-plus more-less"></i>
                                      OBTAIN
                                  </a>
                              </h4>
                          </div>
                          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                              <div class="panel-body text-dark">
                                  <p class="text-justify">Companies that wish to obtain an IBIN number, simply need to apply on IBIN.io. After all the requirements have been met, an IBIN number will be generated. </p>
                              </div>
                          </div>
                      </div>

                      <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="headingFour">
                                  <h4 class="panel-title">
                                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                          <i class="fa fa-plus more-less"></i>
                                         FEES
                                      </a>
                                  </h4>
                              </div>
                              <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                  <div class="panel-body text-dark">
                                      <p class="text-justify">IBIN registration is free of charge. This limited time offer is available for the first 75 companies until the 31st August 2018. </p>
                                  </div>
                              </div>
                      </div>

                      <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="headingFive">
                                  <h4 class="panel-title">
                                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                          <i class="fa fa-plus more-less"></i>
                                         WHAT IS HYBSE?
                                      </a>
                                  </h4>
                              </div>
                              <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                  <div class="panel-body text-dark">
                                      <p class="text-justify">HYBSE (Hybrid Stock Exchange) is an online equity exchange that offers users and issuers a borderless platform to trade cryptonized equity. Companies that wish to list cryptonized securities on HYBSE for example, will require an IBIN number. </p>
                                  </div>
                              </div>
                      </div>


                  </div><!-- panel-group -->
              </mdb-card-body>


          </mdb-card>
