<section>

  <div class="container-fluid" style="width:80%; margin:auto;">
      <div class="row">
          <div class="col-lg-6 text-dark">

            <div class="div-bar font-weight-bold text-center" style="border-right: 80px solid #0E447C;"><span style="color:#0E447C;"> Step 1</span> &nbsp;&nbsp; Apply on the site as an administrator </div>
                  <div class="div-bar font-weight-bold  text-center" style="border-right: 80px solid #0E447C;"> <span style="color:#0E447C;"> Step 2</span> &nbsp;&nbsp; Login as an administrator </div>
                  <div class="div-bar font-weight-bold text-center" style="border-right: 80px solid #0E447C;"><span style="color:#0E447C;"> Step 3</span> &nbsp;&nbsp; Provide the required information and documents </div>
          </div>

          <div class="col-lg-6 mt-5">
                  <div class="div-bar font-weight-bold text-center" style="border-left: 80px solid #0E447C;"><span style="color:#0E447C;"> Step 4 </span> &nbsp;&nbsp; Add the company on the User Dashboard</div>
                  <div class="div-bar font-weight-bold text-center" style="border-left: 80px solid #0E447C;"> <span style="color:#0E447C;"> Step 5</span> &nbsp;&nbsp; A provisional IBIN is emailed </div>
                  <div class="div-bar font-weight-bold text-center" style="border-left: 80px solid #0E447C;"> <span style="color:#0E447C;"> Step 6</span> &nbsp;&nbsp; A permanent IBIN will be assigned after 5 working days</div>
          </div>
      </div>
  </div>

</section>
