<section>

  <div class="square">
           <h3  class="font-weight-bold text-center line-under">IBIN STRUCTURE</h3>
           <img src="assets/images/IBIN No. Breakdown@2x.png" style="margin:auto; width:90%">
  </div>

</section>

<div class="container-fluid py-5" style="margin: 0 auto; width:55%">
  <div class="row mt-5">

    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><h3  class="text-dark font-weight-bold">WHAT IS IBIN</h3>
     <p class="text-dark mt-5 font-weight-bold text-justify">IBIN (International Blockshare Identification Number) is the first unique identifying number for various securities on the blockchain. Entities that desire to list thier securities on blockchain based stock exchanges require an IBIN. IBIN is applicable to (but not limited to) cryptonized equity and exchange traded mcommodities. The unique identifying number adds a layer of security for cryptonized securities that are listed on blockchain based exchanges.</p>
 </div>

    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><h3 class="text-dark font-weight-bold">HOW TO USE IBIN</h3>
     <p class="text-dark mt-5 font-weight-bold text-justify">IBIN is crucial for entities seeking to raise capital from blockchain based stock exchanges. An IBIN allows a security from companies and funds to be easily identified. Companies and funds may have the same or similar names but their IBIN will always be unique. IBIN is a reliable and easy process of identifying and finding securities.</p>
 </div>
  </div>
</div>
